body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.receipt-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #a6f6eb;
    border: 3px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.83);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.billing-info {
    margin-bottom: 20px;
}

.billing-info h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}
.order-summary {
    margin-bottom: 20px;
}

.order-summary h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #362121;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Responsive design */

@media only screen and (max-width: 768px) {
    .receipt-container {
        margin: 20px auto;
        padding: 10px;
    }
    table {
        font-size: 14px;
    }
    th, td {
        padding: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .receipt-container {
        margin: 10px auto;
        padding: 5px;
    }
    table {
        font-size: 12px;
    }
    th, td {
        padding: 2px;
    }
}


